<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuwarobotics.example">

    <!--获取手机录音机使用权限，识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--保存文件需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--保存文件需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--云端功能需要用到此权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.nuwarobotics.example.NuwaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".voice.WakeupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".voice.LocalcmdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".voice.CloudASRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".voice.LocalcmdAndCloudASRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".voice.TTSActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".motor.MotorControlActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".motor.MovementControlActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".motion.MotionTtsExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".led.LEDExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".sensor.SensorExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
	
	<!-- Motion SDK Example -->    
	<activity android:name=".motion.MotionSDKExampleActivity"
		  android:theme="@style/SDK.Motion.Example.Primary.Theme">
        
        </activity>
        <activity android:name=".motion.demo.QueryMotionActivity"
            android:theme="@style/SDK.Motion.Example.Primary.Theme">
        </activity>
        <activity android:name=".motion.demo.ControlMotionActivity"
            android:theme="@style/SDK.Motion.Example.Primary.Theme">
        </activity>
        <activity android:name=".motion.demo.PlayMotionActivity"
            android:theme="@style/SDK.Motion.Example.Primary.Theme">
        </activity>
        <activity android:name=".motion.demo.WindowControlWithMotionActivity"
            android:theme="@style/SDK.Motion.Example.Primary.Theme">
        </activity>
    
<activity android:name=".activity.DisablePowerkeyExampleActivity"
            android:theme="@style/SDK.Motion.Example.Primary.Theme">
        </activity>
    
<activity android:name=".activity.FaceControlExampleActivity"
            android:theme="@style/SDK.Motion.Example.Primary.Theme">
        </activity>

    </application>

</manifest>